<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>nodeSpeed Development Terminal</title>
    <link rel="stylesheet" href="../src/xterm.css" />
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-dark-theme.css" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="shortcut icon" type="image/ico" href="/public/images/favicon.ico" />
</head>

<body>

    {{{body}}}

    <script src="../jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://golden-layout.com/files/latest/js/goldenlayout.min.js"></script>
    <script src="../src/xterm.js"></script>
    <script src="../addons/attach/attach.js"></script>
    <script src="../addons/fit/fit.js"></script>
    <script src="main.js" defer></script>
</body>

</html>
